Repository Holiday-Secret-Santa/Secret-Santa-App, pull requests merged in 2020-10, with the labels that each got.

#127 Completed functionality for RSVP Page
  client/src/App.js
  client/src/actions/graphql.api.js
  client/src/actions/graphql.api.test.js
  client/src/actions/graphql.queries.js
  client/src/actions/graphql.queries.test.js
  client/src/pages/OrganizerEvent/OrganizerEvent.js
  client/src/pages/RsvpEvent/RsvpEvent.js
  client/src/pages/RsvpEvent/RsvpEvent.test.js
  config/config.json
  graphqlSchema/schema.js
Labels: api, backend, db, frontend, mvp

#130 Delete gift on participant view
  client/src/actions/graphql.api.js
  client/src/actions/graphql.queries.js
  client/src/pages/ParticipantEvent/ParticipantEvent.js
Labels: api, backend, frontend, graphql, mvp

#135 Update Secret Santa Table
  client/src/actions/graphql.api.js
  client/src/actions/graphql.queries.js
  client/src/pages/ParticipantEvent/ParticipantEvent.js
  graphqlSchema/schema.js
Labels: api, backend, db, frontend, graphql, mvp

#136 133 improve ui addgift
  client/src/components/NavigationBar/NavigationBar.js
  client/src/components/NavigationBar/NavigationBar.test.js
  client/src/components/NavigationBar/style.css
  client/src/pages/AddGift/AddGift.js
  client/src/pages/AddGift/style.css
  config/config.json
Labels: design, frontend

#137 Update to readme
  README.md
  imgs/readme/sampleGraphQL.png
  imgs/readme/unitTestsPassing.png
Labels: documentation

#139 Final updates to readme
  README.md
  config/config.json
Labels: documentation
